@charset "utf-8";
.sidebar{
  width: 200px;
}
.content {
  left: 200px;
}
.app-name-link{
  font-size: medium;
}
/* 按钮特效 begin  引用 https://gitee.com/qlzhu_981/btnHover*/
.effects {
  margin-top: .5em;
  display: flex;
  /* justify-items: stretch; */
  align-content: center;
  flex-wrap: wrap;
}

[class^="hvr-"] {
  margin: 8px;
  padding: 15px;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  /* Smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:visited
{
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
-moz-transform: scale(1.1);

  transform: scale(1.1);
  color: rgb(19, 0, 0);
  background-color: rgb(225 234 255);
}
.hvr-grow-shadow:hover
{
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
-moz-transform: scale(1.1);

  transform: scale(1.1);
  color: rgb(19, 0, 0);
  background-color: rgb(146, 180, 255);
}

/* 按钮特效 end */